DEVELOPER_KNOWLEDGE_API_KEY=your-developer-knowledge-api-key
GEMINI_API_KEY=your-gemini-api-key
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_BOT_TOKEN=xoxb-your-bot-token

_IMAGE_BASE=your-image-base
_TAG=0.1.0
